In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

# requires installation with: pip install pycountry
import pycountry

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
problem_names = ['Czech Republic',
 'Korea',
 'Slovak Republic',
 'Bahamas',
 'Bermuda',
 'Bolivia',
 'Cape Verde',
 'Chinese Taipei',
 'Congo',
 'Cook Islands',
 'Czech Republic',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Egypt',
 'Former Czechoslovakia',
 'Former USSR',
 'Former Yugoslavia',
 'Gambia',
 'Guam',
 'Hong Kong, China',
 'Iran',
 'Korea',
 'Kyrgyzstan',
 'Laos',
 'Macau',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Nauru',
 'Niue',
 'Not stated',
 'Puerto Rico',
 'Russia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Serbia and Montenegro',
 'Slovak Republic',
 'Somalia',
 'Swaziland',
 'Syria',
 'Tanzania',
 'Tokelau',
 'Total',
 'Tuvalu',
 'Unknown',
 'Venezuela',
 'Viet Nam',
 'West Bank and Gaza Strip',
 'Yemen']

def corr_name(name):
    
    if name in problem_names:
        #country name lookup
        name = pycountry.countries.search_fuzzy(name)
        #get common name
        name = obj[0].name
        return name
    
    return name

In [3]:
'''
Load & format OECD International Migration Database data
'''

def load_oecd_data():
    """ 
    Load oecd data file
    Reshape the dataset to have country, destination, year, asylum_seekers and migrants columns
    Set hierarchical index (country, year)
    
    Returns
    --------
    oecd: data frame containing oecd data
    """
    #load dataset
    oecd = pd.read_csv('data/oecd_data.csv',na_values=['..'])
    #reshape table
    oecd.set_index(['country','destination', 'year','variable'], inplace=True)
    oecd=oecd.unstack()
    oecd.columns = oecd.columns.droplevel(0)
    #drop unwanted columns
    oecd.reset_index(drop=False, inplace=True)
    #rename columns
    oecd = oecd[['country','destination','year','Inflows of asylum seekers by nationality','Inflows of foreign population by nationality']]
    oecd = oecd.rename(columns={'Inflows of asylum seekers by nationality': 'asylum_seekers', 'Inflows of foreign population by nationality': 'migrants'})
    #correct country names - very slow, maybe refactor
    #oecd['country'] = oecd['country'].apply(corr_name)
    #oecd['destination'] = oecd['destination'].apply(corr_name)
    #set index
    oecd=oecd.set_index(['country', 'year'])
    return oecd

oecd_df=load_oecd_data()
oecd_df.info()
oecd_df.head(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 131072 entries, (Afghanistan, 2000) to (Zimbabwe, 2017)
Data columns (total 3 columns):
destination       131072 non-null object
asylum_seekers    83187 non-null float64
migrants          88009 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.4+ MB

variable         destination  asylum_seekers  migrants
country     year
Afghanistan 2000   Australia          1326.0     887.0
            2001   Australia          2161.0     456.0
            2002   Australia            53.0     660.0
            2003   Australia            54.0    1015.0
            2004   Australia           116.0    1340.0
            2005   Australia            32.0    3463.0
            2006   Australia            21.0    3465.0
            2007   Australia            20.0    2560.0
            2008   Australia            52.0    2033.0
            2009   Australia           940.0    1696.0

In [4]:
'''
Load & format Gross Domestic Product per Capita data
'''

def load_gdp_data():
    """ 
    Load gdp data file
    Reshape the dataset to have country, year, GDP columns
    Change data types
    Set hierarchical index (country, year)
    
    Returns
    --------
    gdp: data frame containing gdp data
    """
    #load dataset
    gdp = pd.read_csv('data/GDPPC_data.csv',na_values=['..'])
    #drop unwanted columns
    gdp.drop(['Indicator Name','Indicator Code','Country Code' ], inplace=True, axis=1)
    #reshape dataframe
    gdp.set_index(['Country Name'], inplace=True)
    gdp=gdp.stack().to_frame()
    gdp.reset_index(drop=False, inplace=True)
    #rename columns
    gdp=gdp.rename(columns={'Country Name': 'country', 'level_1': 'year', 0: 'GDP'})
    #set datatype for year, GDP
    gdp['year']=gdp['year'].astype(int)
    gdp['GDP']=gdp['GDP'].astype(float)
    #only use data from 2000 onwards
    gdp = gdp[gdp.year >= 2000]
    #correct country names
    #gdp['country'] = gdp['country'].apply(corr_name)
    #set index
    gdp=gdp.set_index(['country', 'year'])
    return gdp

gdp_df=load_gdp_data()
gdp_df.info()
gdp_df.tail(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4738 entries, (Aruba, 2000) to (Zimbabwe, 2018)
Data columns (total 1 columns):
GDP    4738 non-null float64
dtypes: float64(1)
memory usage: 53.2+ KB

                       GDP
country  year
Zimbabwe 2009   771.598786
         2010   948.331854
         2011  1093.654002
         2012  1304.969802
         2013  1430.000818
         2014  1434.899340
         2015  1445.071062
         2016  1464.583529
         2017  1602.403507
         2018  2146.996385

In [5]:
'''
Load & format Human Development Index data
'''

def load_hdi_data():
    """ 
    Load hdi data file
    Reshape the dataset to have country, year, HDI columns
    Change data types
    Set hierarchical index (country, year)
    
    Returns
    --------
    hdi: data frame containing hdi data
    """
    #load dataset
    hdi = pd.read_csv('data/HDI.csv',na_values=['..'],)
    #drop unwanted columns
    hdi.drop(['HDI Rank (2018)'], inplace=True, axis=1)
    #reshape dataframe
    hdi.set_index(['Country'], inplace=True)
    hdi=hdi.stack().to_frame()
    hdi.reset_index(drop=False, inplace=True)
    #rename columns
    hdi=hdi.rename(columns={'Country': 'country', 'level_1': 'year', 0: 'HDI'})
    #set datatype for year
    hdi['year']=hdi['year'].astype(int)
    #only use data from 2000 onwards
    hdi = hdi[hdi.year >= 2000]
    #correct country names
    #hdi['country'] = hdi['country'].apply(corr_name)
    #set index
    hdi=hdi.set_index(['country', 'year'])
    return hdi

hdi_df=load_hdi_data()
hdi_df.info()
hdi_df.head(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3788 entries, (Afghanistan, 2000) to (World, 2018)
Data columns (total 1 columns):
HDI    3788 non-null float64
dtypes: float64(1)
memory usage: 42.6+ KB

                    HDI
country     year
Afghanistan 2000  0.345
            2001  0.347
            2002  0.378
            2003  0.387
            2004  0.400
            2005  0.410
            2006  0.419
            2007  0.431
            2008  0.436
            2009  0.447

In [6]:
'''
Load & format World Governance Index data
'''

def load_wgi_data():
    """ 
    Load wgi data file
    Reshape the dataset to have country, year, WGI columns
    Change data types
    Set hierarchical index (country, year)
    
    Returns
    --------
    hdi: data frame containing hdi data
    """
    #load dataset
    wgi = pd.read_csv('data/WGIData.csv')
    #drop unwanted rows
    wgi=wgi[wgi['Indicator Code'].str.contains('EST', regex= True, na=False)]
    #drop unwanted columns
    wgi.drop(['Country Code','Indicator Name'], inplace=True, axis=1)
    #reshape dataframe
    wgi.set_index(['Country Name','Indicator Code'], inplace=True)
    wgi=wgi.stack().to_frame()
    wgi.reset_index(drop=False, inplace=True)
    #rename columns
    wgi=wgi.rename(columns={'Country Name': 'country', 'level_2': 'year', 0: 'variable'})
    wgi.set_index(['country','year','Indicator Code'], inplace=True)
    wgi=wgi.unstack()
    wgi.columns = wgi.columns.droplevel(0)
    wgi.reset_index(drop=False, inplace=True)
    #set datatype for year 
    wgi['year']=wgi['year'].astype(int)
    #only use data from 2000 onwards
    wgi = wgi[wgi.year >= 2000]
    #correct country names
    #wgi['country'] = wgi['country'].apply(corr_name)
    #set index
    wgi=wgi.set_index(['country', 'year'])
    return wgi
wgi_df=load_wgi_data()
wgi_df.info()
wgi_df.head(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3780 entries, (Afghanistan, 2000) to (Zimbabwe, 2018)
Data columns (total 6 columns):
CC.EST    3730 non-null float64
GE.EST    3720 non-null float64
PV.EST    3734 non-null float64
RL.EST    3769 non-null float64
RQ.EST    3719 non-null float64
VA.EST    3737 non-null float64
dtypes: float64(6)
memory usage: 190.2+ KB

Indicator Code      CC.EST    GE.EST    PV.EST    RL.EST    RQ.EST    VA.EST
country     year
Afghanistan 2000 -1.295380 -2.231651 -2.440187 -1.778437 -2.109626 -2.031417
            2002 -1.263366 -1.567973 -2.035389 -1.670823 -1.804449 -1.433421
            2003 -1.351042 -1.082488 -2.197809 -1.553829 -1.430002 -1.177571
            2004 -1.345281 -0.894051 -2.296179 -1.697143 -1.505863 -1.203034
            2005 -1.443609 -1.210829 -2.070934 -1.658668 -1.637369 -1.125430
            2006 -1.432890 -1.430343 -2.221302 -1.863189 -1.667902 -1.110294
            2007 -1.587331 -1.403352 -2.410581 -1.829666 -1.688257 -1.057654
            2008 -1.638287 -1.496089 -2.690477 -1.864380 -1.621583 -1.168902
            2009 -1.534796 -1.483899 -2.712689 -1.847092 -1.674311 -1.375497
            2010 -1.635723 -1.454683 -2.579152 -1.845436 -1.532861 -1.404468

## Country name inconsistency check before data merge
Before data merge we have to check the datasets for inconsistencies. 
We would like to merge on country and year multiindex.
Year is consistent however we have to search for different usage and typos in county names.
We selected oecd_df as base dataframe so we compare each of the entries in the country and destination columns to check whether they are also available in the hdi_df, gdp_df, wgi_df datasets.
### TODO - Inconsistencies have to be resolved by renaming country names!!!

In [7]:
def country_check(countries, gdp_df, hdi_df, wgi_df):
    """ 
    Parameters
    --------
    countries: list of countries (source or destination) in oecd_df
    gdp_df: gdp of the countries
    hdi_df: hdi of the countries
    wgi_df: wgi data of the countries
    
    Returns
    --------
    check: dataframe showing inconsistent country name usage
    """   
    #get country name list series
    hdi_c = hdi_df.index.unique(level=0).to_series()
    gdp_c = gdp_df.index.unique(level=0).to_series()
    wgi_c = wgi_df.index.unique(level=0).to_series()
    
    #create dataframe for the results
    check=pd.DataFrame(columns=['country','hdi','gdp','wgi'])
    #iterate through oecd_df source or destination country names and check presence of country name in other dfs
    for index,row in countries.iterrows():
        check=check.append({'country': row.country,
                            'hdi':row.isin(hdi_c).values[0],
                           'gdp':row.isin(gdp_c).values[0],
                           'wgi':row.isin(wgi_c).values[0]}, ignore_index=True)
        
    #add only problematic country rows to the result df
    check=check.loc[(check['hdi'] == False) | (check['gdp'] == False) | (check['wgi'] == False)]
    return check

oecd_s = pd.DataFrame(oecd_df.index.unique(level=0))
oecd_s_check = country_check(oecd_s,gdp_df, hdi_df, wgi_df)

oecd_d = pd.DataFrame(oecd_df['destination'].unique(),columns={'country'})
oecd_d_check = country_check(oecd_d,gdp_df, hdi_df, wgi_df)

display(oecd_d_check.head(50),oecd_s_check.head(50))
df = pd.concat([oecd_d_check,oecd_s_check])
#df['country']

            country    hdi    gdp    wgi
5    Czech Republic  False   True   True
18            Korea  False  False  False
27  Slovak Republic  False   True   True

                                   country    hdi    gdp    wgi
11                                 Bahamas   True  False  False
19                                 Bermuda  False   True   True
21                                 Bolivia  False   True   True
32                              Cape Verde  False  False  False
37                          Chinese Taipei  False  False  False
40                                   Congo   True  False  False
41                            Cook Islands  False  False   True
46                          Czech Republic  False   True   True
47                           Côte d'Ivoire   True  False  False
48   Democratic People's Republic of Korea  False  False  False
49        Democratic Republic of the Congo  False  False  False
55                                   Egypt   True  False  False
63                   Former Czechoslovakia  False  False  False
64                             Former USSR  False  False  False
65                       Former Yugoslavia  False  False  False
68                                  Gambia   True  False  False
74                                    Guam  False   True   True
81                        Hong Kong, China  False  False  False
86                                    Iran  False  False  False
97                                   Korea  False  False  False
99                              Kyrgyzstan   True  False  False
100                                   Laos  False  False  False
109                                  Macau  False  False  False
120                             Micronesia  False  False  False
121                                Moldova  False   True   True
122                                 Monaco  False   True   True
129                                  Nauru  False   True   True
136                                   Niue  False  False   True
139                             Not stated  False  False  False
150                            Puerto Rico  False   True   True
153                                 Russia  False  False  False
155                  Saint Kitts and Nevis   True  False  False
156                            Saint Lucia   True  False  False
157       Saint Vincent and the Grenadines   True  False  False
159                             San Marino  False   True   True
164                  Serbia and Montenegro  False  False  False
168                        Slovak Republic  False   True   True
171                                Somalia  False   True   True
177                              Swaziland  False  False  False
180                                  Syria  False  False  False
182                               Tanzania  False   True   True
186                                Tokelau  False  False  False
188                                  Total  False  False  False
193                                 Tuvalu  False   True   True
199                                Unknown  False  False  False
203                              Venezuela  False  False  False
204                               Viet Nam   True  False  False
205               West Bank and Gaza Strip  False  False  False
206                                  Yemen   True  False  False

We can use the pycountry package to lookup country names using the search_fuzzy function.
The given country name will be replaced by the common_name variable from the results list

In [8]:
def country_correction(oecd_df, gdp_df, hdi_df, wgi_df):
    """ 
    Parameters
    --------
    oecd_df: problematic source country names
    gdp_df: gdp of the countries
    hdi_df: hdi of the countries
    wgi_df: wgi data of the countries
    
    Returns
    --------
    oecd_df_corr: merged data frame that contains corrected country names in the datasets
    """
    
    #replace country name with common_name in each files
    #for row in oecd_df.iterrows():
    #    [name for name in row[0]]
        
        
    
    

country_correction(oecd_df, gdp_df, hdi_df, wgi_df)

In [9]:
def merge_dest(s_merged, gdp_df, hdi_df, wgi_df):
    """ 
    Parameters
    --------
    s_merged: merged dataset with values for the source country
    gdp_df: gdp of the countries
    hdi_df: hdi of the countries
    wgi_df: wgi data of the countries
    
    Returns
    --------
    d_merged: merged data frame that contains complete migration and country data for the source and destination countries
    """
    s_merged = s_merged.rename(columns={'destination': 'country'})
    s_merged=s_merged.set_index(['year','country'])
    #concatenate gdp_df, hdi_df, wgi_df, s_merged using year, country keys
    merge1=pd.concat([gdp_df, hdi_df], axis=1, keys=['year', 'country'])
    merge1.columns = merge1.columns.droplevel(0)
    merge2=pd.concat([merge1, wgi_df], axis=1, keys=['year', 'country'])
    merge2.columns = merge2.columns.droplevel(0)
    d_merged=pd.merge(merge2,s_merged,on=['year','country'])
    d_merged=d_merged.reset_index()
    d_merged = d_merged.rename(columns={'GDP': 'd_GDP',
                                             'HDI': 'd_HDI',
                                             'CC.EST': 'd_CC.ESTP',
                                             'GE.EST': 'd_GE.EST',
                                             'PV.EST': 'd_PV.EST',
                                             'RL.EST': 'd_RL.EST',
                                             'VA.EST': 'd_VA.EST',
                                             'country': 'destination'})
    return d_merged


def merge_data(oecd_df, gdp_df, hdi_df, wgi_df):
    """ 
    Parameters
    --------
    oecd_df: yearly data for foreign population inflow and asylum seeker inflow from source to destination country
    gdp_df: gdp of the countries
    hdi_df: hdi of the countries
    wgi_df: wgi data of the countries
    
    Returns
    --------
    merged_data: merged data frame that contains complete migration and country data
    """
    #concatenate gdp_df, hdi_df, wgi_df, oecd_df using year, country keys
    merge1=pd.concat([gdp_df, hdi_df], axis=1, keys=['year', 'country'])
    merge1.columns = merge1.columns.droplevel(0)
    merge2=pd.concat([merge1, wgi_df], axis=1, keys=['year', 'country'])
    merge2.columns = merge2.columns.droplevel(0)
    s_merged=pd.merge(merge2,oecd_df,on=['year','country'])
    s_merged=s_merged.reset_index()
    s_merged = s_merged.rename(columns={'GDP': 's_GDP',
                                             'HDI': 's_HDI',
                                             'CC.EST': 's_CC.ESTP',
                                             'GE.EST': 's_GE.EST',
                                             'PV.EST': 's_PV.EST',
                                             'RL.EST': 's_RL.EST',
                                             'VA.EST': 's_VA.EST',
                                             'country': 'source'})
    merged_data=merge_dest(s_merged,gdp_df, hdi_df, wgi_df)
    #set multiindex with year, source, destination
    merged_data=merged_data.set_index(['year','source','destination'])
    
    return merged_data

data_merged = merge_data(oecd_df, gdp_df, hdi_df, wgi_df)
data_merged.to_csv("merged.csv")
data_merged.info()
data_merged.head(100)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 112880 entries, (2000, Afghanistan, Australia) to (2017, Zimbabwe, United States)
Data columns (total 18 columns):
d_GDP             112880 non-null float64
d_HDI             106240 non-null float64
d_CC.ESTP         106760 non-null float64
d_GE.EST          106760 non-null float64
d_PV.EST          106760 non-null float64
d_RL.EST          106760 non-null float64
RQ.EST_x          106760 non-null float64
d_VA.EST          106760 non-null float64
s_GDP             104074 non-null float64
s_HDI             102136 non-null float64
s_CC.ESTP         98838 non-null float64
s_GE.EST          98702 non-null float64
s_PV.EST          99314 non-null float64
s_RL.EST          100198 non-null float64
RQ.EST_y          98702 non-null float64
s_VA.EST          99960 non-null float64
asylum_seekers    74963 non-null float64
migrants          76088 non-null float64
dtypes: float64(18)
memory usage: 15.9+ MB

                                    d_GDP  d_HDI  d_CC.ESTP  d_GE.EST  \
year source      destination
2000 Afghanistan Australia    21679.24784  0.898   1.923246  1.810187
     Albania     Australia    21679.24784  0.898   1.923246  1.810187
     Algeria     Australia    21679.24784  0.898   1.923246  1.810187
     Andorra     Australia    21679.24784  0.898   1.923246  1.810187
     Angola      Australia    21679.24784  0.898   1.923246  1.810187
...                                   ...    ...        ...       ...
     Lithuania   Australia    21679.24784  0.898   1.923246  1.810187
     Luxembourg  Australia    21679.24784  0.898   1.923246  1.810187
     Madagascar  Australia    21679.24784  0.898   1.923246  1.810187
     Malawi      Australia    21679.24784  0.898   1.923246  1.810187
     Malaysia    Australia    21679.24784  0.898   1.923246  1.810187

                              d_PV.EST  d_RL.EST  RQ.EST_x  d_VA.EST  \
year source      destination
2000 Afghanistan Australia    1.334552  1.751407  1.637249  1.471305
     Albania     Australia    1.334552  1.751407  1.637249  1.471305
     Algeria     Australia    1.334552  1.751407  1.637249  1.471305
     Andorra     Australia    1.334552  1.751407  1.637249  1.471305
     Angola      Australia    1.334552  1.751407  1.637249  1.471305
...                                ...       ...       ...       ...
     Lithuania   Australia    1.334552  1.751407  1.637249  1.471305
     Luxembourg  Australia    1.334552  1.751407  1.637249  1.471305
     Madagascar  Australia    1.334552  1.751407  1.637249  1.471305
     Malawi      Australia    1.334552  1.751407  1.637249  1.471305
     Malaysia    Australia    1.334552  1.751407  1.637249  1.471305

                                     s_GDP  s_HDI  s_CC.ESTP  s_GE.EST  \
year source      destination
2000 Afghanistan Australia             NaN  0.345  -1.295380 -2.231651
     Albania     Australia     1126.683318  0.667  -0.857256 -0.755118
     Algeria     Australia     1764.888222  0.646  -0.937911 -0.963841
     Andorra     Australia    21936.530100  0.759   1.359712  1.446284
     Angola      Australia      556.836318  0.394  -1.522685 -1.462310
...                                    ...    ...        ...       ...
     Lithuania   Australia     3297.354701  0.755   0.357433  0.144597
     Luxembourg  Australia    48735.995490  0.860   2.048440  1.973986
     Madagascar  Australia      245.939066  0.456  -0.450673 -0.575100
     Malawi      Australia      156.385719  0.362  -0.271884 -0.337415
     Malaysia    Australia     4043.662051  0.724   0.337019  1.057264

                              s_PV.EST  s_RL.EST  RQ.EST_y  s_VA.EST  \
year source      destination
2000 Afghanistan Australia   -2.440187 -1.778437 -2.109626 -2.031417
     Albania     Australia   -0.537979 -1.008780 -0.254359 -0.285139
     Algeria     Australia   -1.432010 -1.211336 -0.705386 -1.110052
     Andorra     Australia    1.167002  1.312131  1.276005  1.535655
     Angola      Australia   -2.035583 -1.663307 -1.799331 -1.458065
...                                ...       ...       ...       ...
     Lithuania   Australia    0.424549  0.292086  0.764317  0.855440
     Luxembourg  Australia    1.606135  1.845376  1.917899  1.510187
     Madagascar  Australia    0.160624 -0.244225 -0.432149  0.110471
     Malawi      Australia   -0.327059 -0.477308 -0.212338 -0.133616
     Malaysia    Australia    0.094190  0.273118  0.562920 -0.421082

                              asylum_seekers  migrants
year source      destination
2000 Afghanistan Australia            1326.0     887.0
     Albania     Australia              59.0      64.0
     Algeria     Australia              42.0      56.0
     Andorra     Australia               NaN       0.0
     Angola      Australia               3.0       5.0
...                                      ...       ...
     Lithuania   Australia              14.0      27.0
     Luxembourg  Australia               NaN       0.0
     Madagascar  Australia               NaN       2.0
     Malawi      Australia               1.0       1.0
     Malaysia    Australia             264.0    2011.0

[100 rows x 18 columns]

In [10]:
def handle_missing(df):
    '''
    Parameters
    --------
    df: dataframe with missing values to be filled
    
    Returns
    --------
    df: dataframe with no missing values
    '''
    
    #drop years where there is no data on migration recorded
    df = df.dropna(subset=['asylum_seekers'])
    df = df.dropna(subset=['migrants'])
    #fill in missing country metrics
    #interpolate in both directions, maybe use regession?
    df = df.interpolate(method='linear', limit_direction='both')
    
    return df

data_merged = handle_missing(data_merged)
data_merged.info()
data_merged.head(50)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 56026 entries, (2000, Afghanistan, Australia) to (2017, Zimbabwe, United States)
Data columns (total 18 columns):
d_GDP             56026 non-null float64
d_HDI             56026 non-null float64
d_CC.ESTP         56026 non-null float64
d_GE.EST          56026 non-null float64
d_PV.EST          56026 non-null float64
d_RL.EST          56026 non-null float64
RQ.EST_x          56026 non-null float64
d_VA.EST          56026 non-null float64
s_GDP             56026 non-null float64
s_HDI             56026 non-null float64
s_CC.ESTP         56026 non-null float64
s_GE.EST          56026 non-null float64
s_PV.EST          56026 non-null float64
s_RL.EST          56026 non-null float64
RQ.EST_y          56026 non-null float64
s_VA.EST          56026 non-null float64
asylum_seekers    56026 non-null float64
migrants          56026 non-null float64
dtypes: float64(18)
memory usage: 7.9+ MB

                                               d_GDP  d_HDI  d_CC.ESTP  \
year source                 destination
2000 Afghanistan            Australia    21679.24784  0.898   1.923246
     Albania                Australia    21679.24784  0.898   1.923246
     Algeria                Australia    21679.24784  0.898   1.923246
     Angola                 Australia    21679.24784  0.898   1.923246
     Argentina              Australia    21679.24784  0.898   1.923246
     Armenia                Australia    21679.24784  0.898   1.923246
     Austria                Australia    21679.24784  0.898   1.923246
     Azerbaijan             Australia    21679.24784  0.898   1.923246
     Bahrain                Australia    21679.24784  0.898   1.923246
     Bangladesh             Australia    21679.24784  0.898   1.923246
     Belarus                Australia    21679.24784  0.898   1.923246
     Belgium                Australia    21679.24784  0.898   1.923246
     Belize                 Australia    21679.24784  0.898   1.923246
     Benin                  Australia    21679.24784  0.898   1.923246
     Bhutan                 Australia    21679.24784  0.898   1.923246
     Bolivia                Australia    21679.24784  0.898   1.923246
     Bosnia and Herzegovina Australia    21679.24784  0.898   1.923246
     Botswana               Australia    21679.24784  0.898   1.923246
     Brazil                 Australia    21679.24784  0.898   1.923246
     Bulgaria               Australia    21679.24784  0.898   1.923246
     Burundi                Australia    21679.24784  0.898   1.923246
     Cambodia               Australia    21679.24784  0.898   1.923246
     Cameroon               Australia    21679.24784  0.898   1.923246
     Canada                 Australia    21679.24784  0.898   1.923246
     Chad                   Australia    21679.24784  0.898   1.923246
     Chile                  Australia    21679.24784  0.898   1.923246
     China                  Australia    21679.24784  0.898   1.923246
     Colombia               Australia    21679.24784  0.898   1.923246
     Comoros                Australia    21679.24784  0.898   1.923246
     Congo                  Australia    21679.24784  0.898   1.923246
     Costa Rica             Australia    21679.24784  0.898   1.923246
     Croatia                Australia    21679.24784  0.898   1.923246
     Cuba                   Australia    21679.24784  0.898   1.923246
     Cyprus                 Australia    21679.24784  0.898   1.923246
     Czech Republic         Australia    21679.24784  0.898   1.923246
     Côte d'Ivoire          Australia    21679.24784  0.898   1.923246
     Denmark                Australia    21679.24784  0.898   1.923246
     Dominica               Australia    21679.24784  0.898   1.923246
     Ecuador                Australia    21679.24784  0.898   1.923246
     Egypt                  Australia    21679.24784  0.898   1.923246
     El Salvador            Australia    21679.24784  0.898   1.923246
     Eritrea                Australia    21679.24784  0.898   1.923246
     Estonia                Australia    21679.24784  0.898   1.923246
     Ethiopia               Australia    21679.24784  0.898   1.923246
     Fiji                   Australia    21679.24784  0.898   1.923246
     Finland                Australia    21679.24784  0.898   1.923246
     France                 Australia    21679.24784  0.898   1.923246
     Gabon                  Australia    21679.24784  0.898   1.923246
     Gambia                 Australia    21679.24784  0.898   1.923246
     Georgia                Australia    21679.24784  0.898   1.923246

                                         d_GE.EST  d_PV.EST  d_RL.EST  \
year source                 destination
2000 Afghanistan            Australia    1.810187  1.334552  1.751407
     Albania                Australia    1.810187  1.334552  1.751407
     Algeria                Australia    1.810187  1.334552  1.751407
     Angola                 Australia    1.810187  1.334552  1.751407
     Argentina              Australia    1.810187  1.334552  1.751407
     Armenia                Australia    1.810187  1.334552  1.751407
     Austria                Australia    1.810187  1.334552  1.751407
     Azerbaijan             Australia    1.810187  1.334552  1.751407
     Bahrain                Australia    1.810187  1.334552  1.751407
     Bangladesh             Australia    1.810187  1.334552  1.751407
     Belarus                Australia    1.810187  1.334552  1.751407
     Belgium                Australia    1.810187  1.334552  1.751407
     Belize                 Australia    1.810187  1.334552  1.751407
     Benin                  Australia    1.810187  1.334552  1.751407
     Bhutan                 Australia    1.810187  1.334552  1.751407
     Bolivia                Australia    1.810187  1.334552  1.751407
     Bosnia and Herzegovina Australia    1.810187  1.334552  1.751407
     Botswana               Australia    1.810187  1.334552  1.751407
     Brazil                 Australia    1.810187  1.334552  1.751407
     Bulgaria               Australia    1.810187  1.334552  1.751407
     Burundi                Australia    1.810187  1.334552  1.751407
     Cambodia               Australia    1.810187  1.334552  1.751407
     Cameroon               Australia    1.810187  1.334552  1.751407
     Canada                 Australia    1.810187  1.334552  1.751407
     Chad                   Australia    1.810187  1.334552  1.751407
     Chile                  Australia    1.810187  1.334552  1.751407
     China                  Australia    1.810187  1.334552  1.751407
     Colombia               Australia    1.810187  1.334552  1.751407
     Comoros                Australia    1.810187  1.334552  1.751407
     Congo                  Australia    1.810187  1.334552  1.751407
     Costa Rica             Australia    1.810187  1.334552  1.751407
     Croatia                Australia    1.810187  1.334552  1.751407
     Cuba                   Australia    1.810187  1.334552  1.751407
     Cyprus                 Australia    1.810187  1.334552  1.751407
     Czech Republic         Australia    1.810187  1.334552  1.751407
     Côte d'Ivoire          Australia    1.810187  1.334552  1.751407
     Denmark                Australia    1.810187  1.334552  1.751407
     Dominica               Australia    1.810187  1.334552  1.751407
     Ecuador                Australia    1.810187  1.334552  1.751407
     Egypt                  Australia    1.810187  1.334552  1.751407
     El Salvador            Australia    1.810187  1.334552  1.751407
     Eritrea                Australia    1.810187  1.334552  1.751407
     Estonia                Australia    1.810187  1.334552  1.751407
     Ethiopia               Australia    1.810187  1.334552  1.751407
     Fiji                   Australia    1.810187  1.334552  1.751407
     Finland                Australia    1.810187  1.334552  1.751407
     France                 Australia    1.810187  1.334552  1.751407
     Gabon                  Australia    1.810187  1.334552  1.751407
     Gambia                 Australia    1.810187  1.334552  1.751407
     Georgia                Australia    1.810187  1.334552  1.751407

                                         RQ.EST_x  d_VA.EST         s_GDP  \
year source                 destination
2000 Afghanistan            Australia    1.637249  1.471305   1126.683318
     Albania                Australia    1.637249  1.471305   1126.683318
     Algeria                Australia    1.637249  1.471305   1764.888222
     Angola                 Australia    1.637249  1.471305    556.836318
     Argentina              Australia    1.637249  1.471305   7708.100996
     Armenia                Australia    1.637249  1.471305    622.742139
     Austria                Australia    1.637249  1.471305  24564.458290
     Azerbaijan             Australia    1.637249  1.471305    655.097433
     Bahrain                Australia    1.637249  1.471305  13636.396230
     Bangladesh             Australia    1.637249  1.471305    418.068968
     Belarus                Australia    1.637249  1.471305   1276.288034
     Belgium                Australia    1.637249  1.471305  23041.534730
     Belize                 Australia    1.637249  1.471305   3364.423711
     Benin                  Australia    1.637249  1.471305    374.192394
     Bhutan                 Australia    1.637249  1.471305    743.050134
     Bolivia                Australia    1.637249  1.471305    997.582460
     Bosnia and Herzegovina Australia    1.637249  1.471305   1467.776477
     Botswana               Australia    1.637249  1.471305   3522.308678
     Brazil                 Australia    1.637249  1.471305   3749.753250
     Bulgaria               Australia    1.637249  1.471305   1609.882452
     Burundi                Australia    1.637249  1.471305    136.463971
     Cambodia               Australia    1.637249  1.471305    302.577164
     Cameroon               Australia    1.637249  1.471305    649.991845
     Canada                 Australia    1.637249  1.471305  24190.249620
     Chad                   Australia    1.637249  1.471305    165.762987
     Chile                  Australia    1.637249  1.471305   5074.901624
     China                  Australia    1.637249  1.471305    959.372484
     Colombia               Australia    1.637249  1.471305   2520.480898
     Comoros                Australia    1.637249  1.471305    645.818691
     Congo                  Australia    1.637249  1.471305   2209.344351
     Costa Rica             Australia    1.637249  1.471305   3772.870012
     Croatia                Australia    1.637249  1.471305   4849.528816
     Cuba                   Australia    1.637249  1.471305   2747.098575
     Cyprus                 Australia    1.637249  1.471305  14388.346700
     Czech Republic         Australia    1.637249  1.471305   6011.615220
     Côte d'Ivoire          Australia    1.637249  1.471305  18377.581450
     Denmark                Australia    1.637249  1.471305  30743.547680
     Dominica               Australia    1.637249  1.471305   4787.780171
     Ecuador                Australia    1.637249  1.471305   1445.279324
     Egypt                  Australia    1.637249  1.471305   1723.408666
     El Salvador            Australia    1.637249  1.471305   2001.538009
     Eritrea                Australia    1.637249  1.471305    308.133784
     Estonia                Australia    1.637249  1.471305   4075.970639
     Ethiopia               Australia    1.637249  1.471305    124.460800
     Fiji                   Australia    1.637249  1.471305   2076.568784
     Finland                Australia    1.637249  1.471305  24285.466820
     France                 Australia    1.637249  1.471305  22364.029390
     Gabon                  Australia    1.637249  1.471305   4125.716664
     Gambia                 Australia    1.637249  1.471305   2437.812594
     Georgia                Australia    1.637249  1.471305    749.908524

                                            s_HDI  s_CC.ESTP  s_GE.EST  \
year source                 destination
2000 Afghanistan            Australia    0.345000  -1.295380 -2.231651
     Albania                Australia    0.667000  -0.857256 -0.755118
     Algeria                Australia    0.646000  -0.937911 -0.963841
     Angola                 Australia    0.394000  -1.522685 -1.462310
     Argentina              Australia    0.770000  -0.192119  0.032177
     Armenia                Australia    0.649000  -0.759535 -0.515753
     Austria                Australia    0.838000   1.809211  1.929282
     Azerbaijan             Australia    0.641000  -1.300618 -1.005987
     Bahrain                Australia    0.792000   0.380999  0.588942
     Bangladesh             Australia    0.470000  -1.108687 -0.580437
     Belarus                Australia    0.682000  -0.383421 -0.604996
     Belgium                Australia    0.873000   1.496779  1.734676
     Belize                 Australia    0.643000  -0.181094  0.062884
     Benin                  Australia    0.398000  -0.473618 -0.234243
     Bhutan                 Australia    0.488333   0.987684  0.829472
     Bolivia                Australia    0.578667  -0.460205 -0.355062
     Bosnia and Herzegovina Australia    0.669000  -0.561167 -0.837896
     Botswana               Australia    0.578000   0.831187  0.525810
     Brazil                 Australia    0.684000   0.040204  0.094080
     Bulgaria               Australia    0.712000  -0.133326  0.002995
     Burundi                Australia    0.293000  -0.804215 -1.384127
     Cambodia               Australia    0.419000  -0.958368 -0.827517
     Cameroon               Australia    0.439000  -1.192397 -0.750396
     Canada                 Australia    0.868000   2.115544  1.931158
     Chad                   Australia    0.298000  -1.106478 -0.701469
     Chile                  Australia    0.753000   1.586007  1.122833
     China                  Australia    0.591000  -0.218289 -0.108963
     Colombia               Australia    0.662000  -0.396754 -0.321533
     Comoros                Australia    0.457000  -1.106156 -1.188423
     Congo                  Australia    0.495000  -0.116624 -0.452064
     Costa Rica             Australia    0.711000   0.872909  0.284294
     Croatia                Australia    0.749000  -0.072557  0.332190
     Cuba                   Australia    0.686000   0.377433 -0.363303
     Cyprus                 Australia    0.799000   1.121261  1.130084
     Czech Republic         Australia    0.603000   0.210977  0.649403
     Côte d'Ivoire          Australia    0.407000   1.302869  1.314840
     Denmark                Australia    0.863000   2.394760  1.980277
     Dominica               Australia    0.694000   0.299670  0.469839
     Ecuador                Australia    0.669000  -0.894235 -0.765904
     Egypt                  Australia    0.611000  -0.704666 -0.647038
     El Salvador            Australia    0.608000  -0.515096 -0.528171
     Eritrea                Australia    0.694000   0.689078 -0.976584
     Estonia                Australia    0.780000   0.839367  0.737846
     Ethiopia               Australia    0.283000  -0.450774 -0.903667
     Fiji                   Australia    0.675000   0.313590 -0.459180
     Finland                Australia    0.858000   2.443092  2.118074
     France                 Australia    0.842000   1.368257  1.711770
     Gabon                  Australia    0.627000  -0.711517 -0.571240
     Gambia                 Australia    0.382000  -0.859845 -0.609812
     Georgia                Australia    0.669000  -1.008173 -0.648384

                                         s_PV.EST  s_RL.EST  RQ.EST_y  \
year source                 destination
2000 Afghanistan            Australia   -2.440187 -1.778437 -2.109626
     Albania                Australia   -0.537979 -1.008780 -0.254359
     Algeria                Australia   -1.432010 -1.211336 -0.705386
     Angola                 Australia   -2.035583 -1.663307 -1.799331
     Argentina              Australia    0.099359 -0.149923  0.257245
     Armenia                Australia   -0.683588 -0.478566 -0.116563
     Austria                Australia    0.823827  1.842372  1.534618
     Azerbaijan             Australia   -0.830194 -1.149980 -0.931884
     Bahrain                Australia    0.055774  0.298458  0.789343
     Bangladesh             Australia   -0.724509 -0.911693 -0.835711
     Belarus                Australia    0.138671 -1.133808 -1.701348
     Belgium                Australia    1.130377  1.340115  1.204084
     Belize                 Australia    0.182883  0.129986  0.020774
     Benin                  Australia    0.798397 -0.157177 -0.174380
     Bhutan                 Australia    0.490640  0.133475 -0.341934
     Bolivia                Australia   -0.235555 -0.387525  0.035398
     Bosnia and Herzegovina Australia   -0.526445 -0.612162 -0.499148
     Botswana               Australia    1.072953  0.594724  0.629029
     Brazil                 Australia    0.186740 -0.208450  0.361691
     Bulgaria               Australia    0.379955 -0.121005  0.196991
     Burundi                Australia   -2.015159 -1.354132 -1.172062
     Cambodia               Australia   -0.778639 -1.059129 -0.186737
     Cameroon               Australia   -0.562828 -1.198869 -0.590096
     Canada                 Australia    1.168466  1.694389  1.523343
     Chad                   Australia   -1.135942 -1.091776 -0.751563
     Chile                  Australia    0.486966  1.322716  1.410081
     China                  Australia   -0.208934 -0.527161 -0.339290
     Colombia               Australia   -1.603681 -0.889675  0.102620
     Comoros                Australia    0.021870 -1.291203 -1.237060
     Congo                  Australia    0.446514 -0.328359 -0.333091
     Costa Rica             Australia    0.871159  0.634486  0.570878
     Croatia                Australia    0.278126  0.030786 -0.029618
     Cuba                   Australia    0.247693 -1.041968 -1.232174
     Cyprus                 Australia    0.515470  1.039934  1.137256
     Czech Republic         Australia    0.332050  0.636567  0.756193
     Côte d'Ivoire          Australia    0.917680  1.237656  1.265917
     Denmark                Australia    1.503310  1.838745  1.775641
     Dominica               Australia    0.487783  0.634927  0.509861
     Ecuador                Australia   -0.574143 -0.640391 -0.543991
     Egypt                  Australia   -0.120989 -0.690124 -0.200735
     El Salvador            Australia    0.332164 -0.739856  0.142521
     Eritrea                Australia   -0.769238 -0.563529 -0.914091
     Estonia                Australia    0.900592  0.653670  1.291119
     Ethiopia               Australia   -0.943961 -0.929321 -1.140291
     Fiji                   Australia    0.300153 -0.419748 -0.515610
     Finland                Australia    1.721373  1.984539  1.849333
     France                 Australia    0.787016  1.459405  0.960125
     Gabon                  Australia    0.636522 -0.205814 -0.113737
     Gambia                 Australia   -0.088385 -0.569524 -0.251477
     Georgia                Australia   -0.813292 -0.933234 -0.389217

                                         s_VA.EST  asylum_seekers  migrants
year source                 destination
2000 Afghanistan            Australia   -2.031417          1326.0     887.0
     Albania                Australia   -0.285139            59.0      64.0
     Algeria                Australia   -1.110052            42.0      56.0
     Angola                 Australia   -1.458065             3.0       5.0
     Argentina              Australia    0.418347             3.0      84.0
     Armenia                Australia   -0.374595            14.0      24.0
     Austria                Australia    1.317559             1.0     130.0
     Azerbaijan             Australia   -0.906229             0.0      16.0
     Bahrain                Australia   -1.056880             2.0       5.0
     Bangladesh             Australia   -0.227925           226.0     310.0
     Belarus                Australia   -1.312422            30.0      34.0
     Belgium                Australia    1.366504             0.0      93.0
     Belize                 Australia    0.975880             0.0       3.0
     Benin                  Australia    0.412923             0.0       0.0
     Bhutan                 Australia   -1.112357             1.0       0.0
     Bolivia                Australia    0.189973            11.0      15.0
     Bosnia and Herzegovina Australia   -0.108343             9.0    1731.0
     Botswana               Australia    0.674277             0.0       2.0
     Brazil                 Australia    0.301594            16.0     178.0